body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}
